<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <meta charset="UTF-8">
    <script src="{% static 'jquery.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Printer</title>
</head>
<body>

    <nav class="navbar bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand h1 mb-0 p-10" href="#">Printer</a>
        </div>
      </nav>
    
        <div class="row mt-3">
            <div class="col-2"></div>
            <div class="col-2">
                <select title="state" name="states" id="states" class="form-select form-select mb-3">
                    <option value="all" selected>All States</option>
                    {% for d in data.states %}
                    <option value="{{d}}">{{d}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-2">
                <select title="district" name="districts" id="districts" class="form-select form-select mb-3">
                    <option value="all" selected>All Districts</option>
                </select>
            </div>

            <div class="col-2">
                <select title="substatus" name="substatus" id="substatus" class="form-select form-select mb-3">
                    <option value="all" selected>All Subscription Status</option>
                    <option value="live">Live</option>
                    <option value="expired">Expired</option>
                </select>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-success" onclick="update_customer_data(true);">Submit</button>
                <button type="button" class="btn btn-primary" onclick="update_customer_data(false);">Export</button>
            </div>
            <div class="col-2">
            </div>

        </div>
        <hr>
        <iframe src="/cusdata" frameborder="10" style="width: 100%;height: 900px;" id="iframe"></iframe>

    <script>
        data = JSON.parse('{{ data }}'.replaceAll('&#x27;', '"'))
        dist_sel = document.getElementById('districts')
        state_sel = document.getElementById('states')

        function removeAllChildNodes(parent) {
            while (parent.firstChild) {
                parent.removeChild(parent.firstChild);
            }
        }

        function update_district_selection(){
            removeAllChildNodes(dist_sel)
            selected_state = state_sel.value
            state_dist = data['statedict'][selected_state] || ''

            var opt = document.createElement('option');
                opt.value = "all";
                opt.innerHTML = "All Districts   ";
                dist_sel.appendChild(opt);

            l = []
            for(i=0;i<state_dist.length;i++){
                if(l.includes(state_dist[i])){
                    continue
                }
                l.push(state_dist[i])
                var opt = document.createElement('option');
                opt.value = state_dist[i];
                opt.innerHTML = state_dist[i];
                dist_sel.appendChild(opt);
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            update_district_selection()
        });

        state_sel.addEventListener('change', function(){
            update_district_selection()
        })

        function update_customer_data(update){
            sub_sel = document.getElementById('substatus')
            state_selected = state_sel.value
            district_selected = dist_sel.value
            subscription_selected = sub_sel.value
            if((state_selected != 0 && district_selected != 0 && subscription_selected != 0) || true){
                console.log('success')
                var iframe = document.getElementById('iframe');
                var url = iframe.src;
                url = url.split('?')[0]
                var payload = {
                    'state': state_selected,
                    'district': district_selected,
                    'substatus': subscription_selected,
                    'export': !update
                };
                console.log(payload)
                url += '?' + Object.keys(payload).map(function(key) {
                return encodeURIComponent(key) + '=' + encodeURIComponent(payload[key]);
                }).join('&');
                console.log(url)
                iframe.src = url;
            }
        }
    </script>

</body>
</html>
